.player{
    margin: 1rem;
    border: white solid 1px;
    border-radius: 25px;
    background:rgba(252, 252, 252, 0.6)
}

.playerF{
    border: white solid 1px;
    border-radius: 25px;
    background:rgba(252, 252, 252, 0.6)
}

.cont{
    padding-bottom: 2rem;
    width: auto;
    height:max-content;
    border: white solid 1px;
    border-radius: 25px;
    background:rgba(252, 252, 252, 0.6)
}

.songTitle{
    text-align: center;
    margin: 1rem;
    color: black;
    text-transform: uppercase;
}

.songCaption{
    text-align: center;
    margin: 1rem;
    color: black;
}

.audioPlayer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.backG{
    background-image: url("https://images.unsplash.com/photo-1560803262-95a9de00a057?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-size:cover;
    color: black;
    min-height: 150vh;
}


.spacer{
    font-weight: 600;
}

.extender{
   
}